@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased; // smooths font
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}