@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';


body {
	background-image: url('../img/coming_soon_bg_landschaft.jpg') ;
    // photo credit: https://unsplash.com/photos/YbgPWfWlvkE
    background-size: 100%;
    background-repeat: no-repeat;
}