
.coming-soon-contents-container {
  text-align: center;
  width: 100%;
  max-width: 700px;
  flex: 0 0 auto; // grow | shrink rescaling relative to other children components in flex parent
}

.coming-soon-text {
  padding: 32px;
}

.coming-soon-header, .coming-soon-subheader, .footer-contents {
  font-family: 'Roboto Slab', serif;
}

.coming-soon-header {
  font-size: 64px;
}

.coming-soon-subheader {
  font-size: 24px;
  padding-bottom: 16px;
}

.email-form {
  height: 16px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}
.email-form button {
  z-index: 1;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #ff5151;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  height: 40px;
  transition: 0.2s background ease;
}

.email-form button:hover {
  cursor: pointer;
  background: #c33c3c;
}

.email-form input {
  font-size: 14px;
  padding: 8px 12px;
  box-sizing: border-box;
  height: 40px;
  width: 360px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.footer-contents {
  font-size: 12px;
  margin: 16px;
}

@mixin dark-overlay{
  &:after{
    content: "";
    height: auto;
    position: absolute;
    z-index: -1;  
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  background: url('../img/coming_soon_bg_landschaft.jpg');
  /*photo credit: https://unsplash.com/photos/YbgPWfWlvkE*/
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include dark-overlay;
}

.overlay:after {
  background: rgba(0, 0, 0, 0.25);
}

