<!doctype html>
<html>
	<header>
    	<meta charset="utf-8"/>

		<title>Neuland 21</title>
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
		<link rel="stylesheet" type="text/css" href="/build/styles.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet"/>
	</header>	

	<body>
		<div id="root"></div>
		
		<footer>
		</footer>

		<script src="/build/bundle.js"></script>
	</body>
</html>